@import '../globals/globals.scss';

.tagsList {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
}

.tag {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  a {
    display: block;
    padding: 0.125rem 0.35rem;
    background-color: $purple;
    color: $purple-xlt;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;

    &:hover,
    &:focus {
      background-color: $purple-lt;
      color: white;
    }
  }
}